# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

repdata_data_StormData.csv.bz2

RepData_PeerAssessment2_cache
RepData_PeerAssessment2_cache/
